@import url("./globals.css");

.footer {
  padding: 50px 0;
  background-color: var(--navbar-background-color);
  color: var(--navbar-item-color);
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  justify-content: space-around;
}

.footer div a {
  color: var(--navbar-item-color);
  font-family: var(--text-font);
  font-weight: var(--navbar-item-font-weight);
  font-size: var(--navbar-item-font-size);
  transition: 0.1s ease-in;
  text-decoration: underline;
  text-decoration-color: transparent;
}

.footer div a:focus {
  text-decoration: underline;
}
.footer div a:hover {
  text-decoration-color: var(--navbar-item-color);
}

.copyright {
  padding-top: 2em;
  opacity: 0.3;
  font-size: var(--small-font-size);
  font-weight: var(--navbar-item-font-weight);
  margin-left:2em;
}
.copyright-hidden {
  display: none;
}

div.logo-container > img:nth-child(1) {
  padding-left: 2em;
}

.share-bttn {
  color: var(--navbar-item-color);
  background: url(../images/png/share@2x.png) no-repeat left;
  background-size: 1em;
  background-position: 0.5em;
  font-family: var(--text-font);
  font-size: var(--navbar-item-font-size);
  font-weight: var(--navbar-item-font-weight);
  text-decoration: none;
  padding-left: 2rem;
  padding-top: 0.3rem;
  border: 1px solid var(--navbar-item-color);
  border-radius: 2em;
  max-height: 2.3rem;
  width: 10rem;
  white-space: nowrap;
}

.share-bttn:hover {
  background-color: var(--blue);
  color: var(--navbar-item-color);
}

.grid-container {
  display: none;
}

/*MOBILE DEVICES*/

@media (max-width: 1165px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "footer-logo footer-logo footer-logo"
      "item-1 . item-2"
      "item-3 . item-4"
      "share share share"
      "copyright-hidden copyright-hidden copyright-hidden";
    justify-items: center;
  }

  .footer-logo {
    grid-area: footer-logo;
  }

  .item-1 {
    grid-area: item-1;
  }

  .item-2 {
    grid-area: item-2;
  }

  .item-3 {
    grid-area: item-3;
  }

  .item-4 {
    grid-area: item-4;
  }
  
  .item-1, .item-3 {
    margin-left:28em;
    padding-right:1em;
  }

  .item-2, .item-4 {
    margin-right:26em;
    padding-left:1em;
  }

  .share {
    grid-area: share;
    width:15em;
    text-align: center;
    margin-left:2em;
  }

  .copyright-hidden {
    grid-area: copyright-hidden;
  }

  .footer-logo {
    padding-left: 2rem !important;
  }

  .share-bttn {
    padding-bottom: 1em;
    padding-left: 1.7rem;
  }

  .copyright {
    display: none;
  }

  .copyright-hidden {
    display: block;
    margin-left:2em;
  }
}

