@import url("./globals.css");

html,
body {
  width: 100%;
  margin: 0;
  color: var(--text-color);
  font-family: var(--text-font);
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.mobile-only {
  display: none !important;
}

.wrapper {
  padding: 2em 2em 2em 4em;
  background-color: var(--grey-1);
}

.first-section-container {
  padding: 2em 2em 2em 2em;
}

.main-heading,
.news-heading {
  font-size: var(--h1-font-size);
  font-weight: var(--heavy-font-weight);
  white-space: nowrap;
  display: block;
}

.advertisement-space {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  flex-wrap: nowrap;
  position: relative;
  bottom: 7.3rem;
}

.advertisement-space-mobile {
  display: none;
}

.advertisement {
  position: relative;
  bottom: 2.1rem;
}

.top-border {
  background: var(--gradient-color);
}

.top-border-content {
  padding-left: 1em;
  color: #fff;
  font-weight: var(--heavy-font-weight);
  font-size: var(--h2-font-size);
  white-space: nowrap;
}

.horizontal-scroll {
  display: flex;
  gap: 2em;
  flex-wrap: nowrap;
}

.horizontal-scroll__item {
  flex: 1 0 calc(25% - 10px);
}

.content {
  background-color: #fff;
}

.tile-container {
  padding-top: 5rem;
}

.tile-heading-icon {
  height: 21px;
  width: 20px;
  padding-top: 3px;
  vertical-align: text-top;
}

.tile-items {
  padding-left: 5px;
  padding-top: 2px;
  white-space: nowrap;
}

.preformers,
.trending,
.bookmarks {
  list-style-type: none;
  padding-bottom: 2em;
  font-weight: var(--heavy-font-weight);
  font-size: var(--p1-font-size);
}

li a li a,
li a {
  color: var(--text-color);
}

li a:hover li a:hover,
li a:hover,
#stock-link:hover {
  color: var(--cta-link-hover-color);
}

#first-preformer {
  background: url(../images/coins/luna.png) no-repeat left;
}

#second-preformer {
  background: url(../images/coins/folki.png) no-repeat left;
}

#third-preformer {
  background: url(../images/coins/mm.png) no-repeat left;
}

#first-trending {
  background: url(../images/coins/adaup.png) no-repeat left;
}

#second-trending {
  background: url(../images/coins/ronin-gamez.png) no-repeat left;
}

#third-trending {
  background: url(../images/coins/only-up.png) no-repeat left;
}

#first-preformer,
#second-preformer,
#third-preformer,
#first-trending,
#second-trending,
#third-trending,
#first-bookmark,
#second-bookmark,
#third-bookmark {
  background-size: 25px;
  height: 15px;
  padding-left: 30px;
}

.list-container {
  display: inline;
}

.ticker-name {
  font-size: var(--small-font-size);
  font-weight: normal;
}

.price-change {
  color: var(--green);
  font-weight: var(--heavy-font-weight);
  padding-right: 1em;
  padding-left: 10px;
  float: right;
}

/*COMING SOON TILE*/
#coming-soon-icon {
  height: 45px;
  width: 45px;
}
.coming-soon-content {
  display: flex;
  justify-content: center;
  padding-top: 0.1em;
  padding-bottom: 1em;
}
#coming-soon-text {
  color: var(--grey-2);
  font-size: var(--h2-font-size);
  font-weight: var(--bold-font-weight);
  text-align: center;
}

/*CHART CONTAINER*/
.chart-container {
  display: flex;
  width: 90%;
}
.view-all-button {
  display: flex;
  justify-content: center;
}

/*****************
****************
*****************/
/*SECOND SECTION*/

.second-section-container {
  background-color: #fff;
  padding: 2em 2em 2em 4em;
}

.heading-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2em;
}

.news-heading {
  padding-top: 1rem;
}

.advertisement-long {
  bottom: 0px;
  padding-left: 1rem;
  padding-right: 5rem;
}

.news-section {
  display: flex;
  flex-wrap: nowrap;
}

.news-article-thumbnail {
  padding-right: 1em;
}

.article-heading {
  font-size: var(--h1-font-size);
  font-weight: var(--heavy-font-weight);
  width: 20vw;
}

.article-heading-link {
  text-decoration: none;
  color: var(--text-color);
}

.article-heading-link:hover {
  text-decoration: none;
  color: var(--text-color);
}

#category-heading {
  display: block;
  font-size: var(--p1-font-size);
  font-weight: var(--med-font-weight);
}

#category-heading a {
  color: var(--cta-link-color);
}

#category-heading a:hover {
  color: var(--cta-link-hover-color);
}

#category-subheading {
  padding-top: 1em;
  display: block;
  font-size: var(--small-font-size);
  color: var(--grey-3);
}

.article-section {
  padding-right: 20rem;
}

.article-content {
  font-size: var(--p1-font-size);
  width: 30vw;
}

#read-more-link {
  color: var(--cta-link-color);
  font-size: var(--p2-font-size);
  font-weight: var(--light-font-weight);
}

#read-more-link:hover {
  color: var(--cta-link-hover-color);
}

.news-button,
.social-button {
  display: flex;
  justify-content: center;
}

.news-button-mobile-only {
  display: none;
}

.related-article-heading {
  font-size: var(--h3-font-size);
  font-weight: var(--heavy-font-weight);
  width: 20vw;
  padding-right: 5em;
}

.news-article {
  display: flex;
  justify-content: center;
}

.small-thumbnail {
  flex-basis: 35%;
  padding-right: 1em;
}

hr {
  color: var(--grey-3);
}

/*****************
****************
*****************/
/*THIRD SECTION*/

.third-section-container {
  background-color: var(--light-blue);
  padding: 2em 2em 2em 4em;
}

.social-wrapper{
  display:flex;
  gap:2em;
  justify-content: center;
}

.hashtag-table {
  background-color: #fff;
}

.hashtags {
  list-style-type: none;
  font-weight: var(--heavy-font-weight);
  font-size: var(--p1-font-size);
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.hashtag-content {
  background: url(../images/png/hashtag@2x.png) no-repeat left;
  background-size: 25px 25px;
  padding-left: 3em;
  margin: 10px;
}

.trending-percentage {
  float: right;
}

.social-header {
  background: var(--gradient-color);
  padding-left: 1em;
  padding-right:1em;
  color: #fff;
  font-weight: var(--heavy-font-weight);
  font-size: var(--h2-font-size);
  white-space: nowrap;
}

.tweets{
  display:flex;
  justify-content: start;
  flex-wrap: wrap;
  gap:4em;
}

.social-button{
  padding-top:3em;
}

/*****************
****************
*****************/
/*MOBILE DEVICES*/

@media screen and (max-width: 998px) {
  /*FIRST SECTION*/

  .first-section-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-left: 3em;
    padding-right: 6em;
  }

  .main-heading {
    font-size: var(--h1-font-size-mobile);
    white-space: normal;
    text-align: center;
    max-width: 300px;
    padding-left: 10px;
  }

  .advertisement-space,
  .advertisement {
    display: none !important;
  }

  .advertisement-space-mobile {
    display: block;
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 0.5em;
  }

  .horizontal-scroll::-webkit-scrollbar {
    display: none !important;
  }

  .horizontal-scroll {
    display: flex;
    gap: 3rem;
    overflow-x: auto;
    scrollbar-width: none !important;
    -ms-overflow-style: none !important;
    width: 20rem;
    max-width: 100%;
    overflow-y: hidden;
    flex-wrap: nowrap;
  }

  .horizontal-scroll__item {
    display: flex;
    flex: 0 0 20rem;
    height: 10rem;
    max-width: none;
  }

  .top-border-content {
    font-size: var(--h2-font-size-mobile);
    padding-top: 2px;
  }

  .content {
    padding-top: 1em;
  }

  .tile-container {
    padding-top: 0px;
    margin-left:2em;
  }

  .tile-heading-icon {
    height: 20px;
    width: 20px;
  }

  .preformers,
  .trending,
  .bookmarks {
    font-size: var(--h2-font-size-mobile);
  }

  #first-preformer,
  #second-preformer,
  #third-preformer,
  #first-trending,
  #second-trending,
  #third-trending,
  #first-bookmark,
  #second-bookmark,
  #third-bookmark {
    background-size: 25px;
    height: 15px;
    padding-left: 30px;
  }

  .price-change {
    float: right;
  }

  /*COMING SOON TILE*/

  #coming-soon-icon {
    height: 45px;
    width: 45px;
  }

  .coming-soon-content {
    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  #coming-soon-text {
    font-size: var(--h1-font-size-mobile);
  }

  .chart-container {
    padding-left: 0px;
    padding-right: 3em;
    padding-top: 3em;
  }

  .tradingview-widget-container {
    margin-left: 3em;
  }

  .mobile-only {
    display: none !important;
  }

  /*****************
  ****************
  *****************/
  /*SECOND SECTION*/

  .second-section-container {
    display: flex;
    flex-direction: column;
  }

  .heading-container {
    flex-direction: column;
  }

  .news-heading {
    font-size: var(--h1-font-size-mobile);
    white-space: normal;
    text-align: center;
  }

  .crypto-ad {
    text-align: center;
  }

  .advertisement-image-long {
    display: none;
  }

  .news-section {
    flex-direction: column;
  }
  .news-button {
    display: none;
  }

  .news-button-mobile-only {
    display: flex;
  }

  .news-article-thumbnail {
    padding-right: 0px;
    padding-bottom: 1em;
  }

  .article-heading {
    font-size: var(--h1-font-size-mobile);
  }

  .article-content,
  .article-heading,
  .related-article-heading {
    width: 100%;
  }

  .article-section {
    padding-right: 0px;
  }

  .small-thumbnail {
    flex-basis: 18%;
  }

  /*****************
  ****************
  *****************/
  /*THIRD SECTION*/
  .third-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .social-wrapper{
    flex-direction: column;
  }
  
  .tweets{
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1499px) and (min-width: 998px) {
  .horizontal-scroll {
    gap: 1em;
  }
  .ticker-name {
    display: none;
  }
  .price-change {
    font-size: var(--small-font-size);
  }
}

@media screen and (max-width: 1005px) and (min-width: 998px) {
  .price-change {
    font-size: 12px;
  }
}

@media screen and (max-width: 588px) {
  .first-section-container {
    flex-wrap: nowrap;
  }
}
