@import url("./globals.css");

html,
body {
  width: 100%;
  margin: 0;
  color: var(--text-color);
  font-family: var(--text-font);
  overflow-x: hidden;
}

.container {
  display: flex;
  padding: 2em 2em 2em 6em;
  background-color: var(--grey-1);
  width: 100%;
  max-width: calc(100% - 20px);
  margin: auto;
}

.main-heading {
  font-size: var(--h1-font-size);
  font-weight: var(--heavy-font-weight);
  white-space: nowrap;
  display: block;
}

.advertisement {
  display: block;
}

.advertisement-space-mobile {
  display: none;
}
.advertisement {
  max-width: 100%;
  padding-left: 2em;
  padding-bottom: 1em;
}
.advertisement-image {
  width: 300px;
  height: 250px;
}

.scroll-container {
  padding-top: 2em;
  padding-bottom: 2em;
  max-width: 100%;
}

.top-border {
  height: 3rem;
  width: 100%;
  background: var(--gradient-color);
}

.top-border-content {
  padding-left: 1em;
  color: #fff;
  font-weight: var(--heavy-font-weight);
  font-size: var(--h2-font-size);
  white-space: nowrap;
}

.horizontal-scroll {
  display: flex;
  gap: 5em;
  width: 100%;
  max-width: 100%;
}

.horizontal-scroll__item {
  display: flex;
  width: 20vw;
}

.content {
  background-color: #fff;
}

.tile-container {
  padding-top: 2rem;
}

.tile-heading-icon {
  height: 21px;
  width: 20px;
  padding-top: 3px;
  vertical-align: text-top;
}

.tile-items {
  padding-left: 5px;
  padding-top: 2px;
  white-space: nowrap;
}

.preformers,
.trending,
.bookmarks {
  list-style-type: none;
  padding-bottom: 2em;
  font-weight: var(--heavy-font-weight);
  font-size: var(--p1-font-size);
}

li a li a,
li a {
  color: var(--text-color);
}

li a:hover li a:hover,
li a:hover,
#stock-link:hover {
  color: var(--cta-link-hover-color);
}

#first-preformer {
  background: url(../images/coins/luna.png) no-repeat left;
}

#second-preformer {
  background: url(../images/coins/folki.png) no-repeat left;
}

#third-preformer {
  background: url(../images/coins/mm.png) no-repeat left;
}

#first-trending {
  background: url(../images/coins/adaup.png) no-repeat left;
}

#second-trending {
  background: url(../images/coins/ronin-gamez.png) no-repeat left;
}

#third-trending {
  background: url(../images/coins/only-up.png) no-repeat left;
}

#first-preformer,
#second-preformer,
#third-preformer,
#first-trending,
#second-trending,
#third-trending,
#first-bookmark,
#second-bookmark,
#third-bookmark {
  background-size: 25px;
  height: 15px;
  padding-left: 30px;
}

.ticker-name {
  font-size: var(--small-font-size);
  font-weight: normal;
}

.price-change {
  color: var(--green);
  font-weight: var(--heavy-font-weight);
  padding-right: 1em;
  padding-left: 10px;
  float: right;
}

#coming-soon-icon {
  height: 45px;
  width: 45px;
}

/*COMING SOON TILE*/

.coming-soon-content {
  display: flex;
  justify-content: center;
  padding-top: 0.1em;
  padding-bottom: 1em;
}
#coming-soon-text {
  color: var(--grey-2);
  font-size: var(--h2-font-size);
  font-weight: var(--bold-font-weight);
  text-align: center;
}

/*CHART CONTAINER*/
.chart-container {
  display: flex;
  justify-content: center;
  background-color: var(--grey-1);
  padding-left: 6.5em;
  padding-right: 8em;
}

/*SECOND SECTION*/

.second-section-container {
  display: flex;
  background-color: #fff;
  padding: 2em 2em 2em 4em;
}

/*THIRD SECTION*/

.third-section-container {
  display: flex;
  background-color: var(--light-blue);
  padding: 2em 2em 2em 4em;
}

/*MOBILE DEVICES*/

@media screen and (max-width: 1312px) {
  /*FIRST SECTION*/

  .navbar > .container-fluid {
    flex-wrap: nowrap;
  }

  .container {
    flex-direction: column;
    align-items: center;
    padding-left: 3em;
  }

  .main-heading {
    font-size: var(--h1-font-size-mobile);
    white-space: normal;
    text-align: center;
    width: 300px;
  }

  .advertisement-space,
  .advertisement {
    display: none !important;
  }

  .advertisement-space-mobile {
    display: block;
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 0.5em;
  }
  .advertisement-image {
    width: 300px;
    height: 50px;
  }

  .scroll-container {
    right: 0;
  }

  .horizontal-scroll::-webkit-scrollbar {
    display: none !important;
  }

  .horizontal-scroll {
    display: flex;
    gap: 3rem;
    overflow-x: auto;
    scrollbar-width: none !important;
    -ms-overflow-style: none !important;
    width: 20rem;
    max-width: 100%;
    overflow-y: hidden;
  }

  .horizontal-scroll__item {
    display: flex;
    flex: 0 0 20rem;
    height: 10rem;
    max-width: none;
  }

  .top-border-content {
    font-size: var(--h2-font-size-mobile);
    padding-top: 2px;
  }

  .top-border {
    height: 2rem;
    width: 100%;
    background: var(--gradient-color);
  }

  .content {
    padding-top: 1em;
  }

  .tile-container {
    padding-top: 0px;
  }

  .tile-heading-icon {
    height: 20px;
    width: 20px;
  }

  .preformers,
  .trending,
  .bookmarks {
    font-size: var(--h2-font-size-mobile);
  }

  #first-preformer,
  #second-preformer,
  #third-preformer,
  #first-trending,
  #second-trending,
  #third-trending,
  #first-bookmark,
  #second-bookmark,
  #third-bookmark {
    background-size: 25px;
    height: 15px;
    padding-left: 30px;
  }

  .price-change {
    float: right;
  }

  /*COMING SOON TILE*/

  #coming-soon-icon {
    height: 45px;
    width: 45px;
  }

  .coming-soon-content {
    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  #coming-soon-text {
    font-size: var(--h1-font-size-mobile);
  }

  .chart-container {
    padding-right: 6em;
  }

  /*SECOND SECTION*/
}

@media screen and (max-width: 1496px) and (min-width: 1312px) {
  .horizontal-scroll {
    gap: 1em;
  }
  .ticker-name {
    display: none;
  }
}

@media screen and (min-width: 1935px) {
  .advertisement {
    padding-left: 10rem;
  }
}

@media screen and (min-width: 2400px) {
  .chart-container {
    padding-left: 6.5em;
    padding-right: 17em;
  }
}

@media screen and (min-width: 2389px) and (max-width: 2400px) {
  .chart-container {
    padding-right: 14em;
  }
}

@media screen and (max-width: 366px) {
  .main-heading {
    padding-right: 2em;
  }
  .advertisement-space-mobile {
    position: relative;
    right: 2em;
  }
}
