@import url("./globals.css");

.news-wrapper {
  padding-left: 2em;
}

.news-wrapper {
  padding-left: 2em;
}

.news-container {
  display: flex;
}

.article-heading {
  min-width: 50%;
}

@media screen and (max-width: 998px) {
  .news-container {
    flex-direction: column;
  }

  .article-heading-mobile {
    width: 30rem;
  }
  .article {
    padding-left: 1em;
    padding-right: 1em;
  }

  .news-wrapper {
    padding-right: 2em;
    display: flex;
    justify-content: center;
  }

  .news-heading {
    padding-left: 0px;
  }

  .news-item {
    padding-right: 0px !important;
    display: flex;
    flex-direction: column;
  }

  .related-article-heading {
    font-size: var(--h2-font-size-mobile);
  }
}
