@import url("./globals.css");

/*FIRST SECTION*/

.nav-item:nth-child(1) {
  text-decoration: underline;
  text-decoration-color: var(--navbar-item-color);
}

.first-section-container {
  background-color: #fff;
  border: 0px solid transparent;
  border-radius: 10px;
}

.data-items {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.data-container {
  display: flex;
  gap: 2em;
}

.tradingview-widget-container {
  min-width: 50%;
}

.metrics-chart-container,
.metrics-table-container {
  flex: 1 0 calc(25% - 10px);
}

.vertical-seperator-mobile {
  display: none;
}

.data-content {
  font-weight: normal;
}

.right-content {
  font-weight: var(--heavy-font-weight);
}

.price-difference {
  float: right;
  font-size: var(--small-font-size);
  color: var(--green);
}

div.right-content > span:nth-child(1) {
  display: block;
}

/*****************
****************
*****************/
/*SECOND SECTION*/

.news-container {
  display: flex;
  justify-content: space-around;
  gap: 1em;
  padding-bottom: 3em;
}

.second-section-container {
  background-color: #fff;
}

.article-heading-link {
  display: block;
  font-weight: var(--heavy-font-weight);
  font-size: var(--h2-font-size);
  max-width: 15vw;
}

.prices-article{
  padding-top:1rem;
}

/*****************
****************
*****************/
/*THIRD SECTION*/

.twitter-tweet {
  flex: 1;
  max-width: none !important;
  width: 0px !important;
}

/*****************
****************
*****************/
/*MOBILE DEVICES*/

@media screen and (max-width: 998px) {
  /*FIRST SECTION*/

  .data-container {
    flex-direction: column;
  }

  .metrics-chart-container {
    margin-right: 3rem;
  }

  .vertical-seperator {
    display: none;
  }

  .vertical-seperator-mobile {
    display: block;
  }

  .metrics-table-container {
    justify-content: center;
  }

  /*SECOND SECTION*/

  .news-container {
    flex-direction: column;
  }
  .news-button {
    display: flex;
  }
  .article-heading-link {
    font-weight: var(--heavy-font-weight);
    font-size: var(--h2-font-size-mobile);
    max-width: none;
  }

  /*THIRD SECTION*/
    .twitter-tweet {
    justify-content: center;
    min-width: 100%;
  }
}

@media screen and (max-width: 1390px) and (min-width: 998px) {
  .twitter-tweet {
    flex: 1 0 calc(100% / 3);
  }
}

@media screen and (max-width: 998px) and (min-width: 900px) {
    .tweets{
        padding-left:6rem;
    }
}
@media screen and (max-width: 899px) and (min-width: 800px) {
    .tweets{
        padding-left:2rem;
    }
}

@media screen and (max-width: 506px) {
  /*FIRST SECTION*/
  .metrics-table-container {
    margin-left: 2.5rem;
  }
  .tweets {
    padding-left: 0px;
  }
}
