@import url("./globals.css");

.wrapper,
.first-section-container,
.second-section-container,
.third-section-container {
  background-color: var(--light-blue);
}

.nav-item:nth-child(1),
.nav-item:nth-child(3) {
  text-decoration: none;
}
.nav-item:nth-child(4) {
  text-decoration: underline;
  text-decoration-color: #fff;
}

/*****************
****************
*****************/
/*FIRST SECTION*/

.horizontal-scroll {
  flex-wrap: wrap;
}

.horizontal-scroll__item {
  flex: 1 0 calc(10% - 10px);
}

.content {
  border-top: 0.5rem solid var(--blue);
}

.tile-items {
  list-style: none;
}

.tile-data,
.tile-data-right-content,
.data-tile-heading {
  padding-left: 1em;
  padding-right: 1em;
}

.data-tile-heading {
  font-size: var(--h2-font-size);
  font-weight: var(--med-font-weight);
  color: var(--blue);
}

.tile-data {
  font-size: var(--h2-font-size);
  font-weight: var(--med-font-weight);
  color: black;
}

.tile-data-right-content {
  float: right;
  font-size: var(--h3-font-size);
  font-weight: var(--heavy-font-weight);
  color: var(--green);
}

.horizontal-scroll__item.tile-4 .tile-data {
  background: url(https://www.meme-arsenal.com/memes/688700b41a939acf4cad09e9c84bcff6.jpg)
    no-repeat left;
  background-size: 45px !important;
  padding-left: 3rem !important;
  font-weight: var(--med-font-weight);
}

.ticker-name {
  font-size: var(--p1-font-size);
  margin-left: 3em;
  position: relative;
  bottom: 0.5em;
}

.horizontal-scroll__item.tile-6 .tile-data-right-content {
  color: var(--red);
}

.data-items {
  display: flex;
  flex-direction: column;
  max-height: 18em;
  flex-wrap: wrap;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.trending-accounts,
.trending-hashtags {
  gap: 1em;
}

.trending-accounts {
  padding-bottom: 0.8em;
}

.hashtag-content.data-content {
  padding-left: 2em;
  font-weight: var(--heavy-font-weight);
}

.hashtag-content {
  background-size: 20px 20px;
}

.trending-percentage {
  color: var(--cta-link-color);
  padding-left: 5px;
}

.trending-percentage,
.right-content {
  float: right;
  padding-right: 2em;
}

.trending-accounts .data-content:before {
  content: "\0040";
  color: var(--cta-link-color);
  font-weight: var(--heavy-font-weight);
}

.trending-accounts-link {
  color: var(--cta-link-color);
  font-weight: var(--light-font-weight);
}

/*****************
****************
*****************/
/*SECOND SECTION*/

.news-container div {
  width: 450px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news-container .news-tile-2 {
  height: 600px;
}
.news-container .news-tile-4 {
  height: 800px;
}
.news-container .news-tile-6 {
  height: 600px;
}
.news-container .news-tile-11 {
  height: 400px;
}
.news-container .news-tile-14 {
  height: 570px;
}
.news-container .news-tile-17 {
  height: 570px;
}
.news-container .news-tile-19 {
  height: 670px;
}
.news-container .news-tile-21 {
  height: 675px;
}
.news-container .news-tile-23 {
  height: 700px;
}
.news-container .news-tile-25 {
  height: 600px;
}
.news-container .news-tile-27 {
  height: 700px;
}

/*****************
****************
*****************/
/*MOBILE DEVICES*/

@media screen and (max-width: 998px) {
  /*FIRST SECTION*/
  .horizontal-scroll {
    flex-wrap: nowrap;
  }
  .tile-data-heading,
  .tile-data {
    font-size: var(--h2-font-size-mobile);
  }
  .ticker-name {
    display: none;
  }

  .horizontal-scroll.tile-container.large-data-table {
    height: 25em;
  }
  .horizontal-scroll__item.first-table {
    flex: 1 0 100vw;
  }

  .horizontal-scroll__item.second-table {
    flex: 1 0 100vw;
  }

  /*SECOND SECTION*/
  .news-container .news-tile-2,
  .news-container .news-tile-4,
  .news-container .news-tile-6,
  .news-container .news-tile-11,
  .news-container .news-tile-14,
  .news-container .news-tile-17,
  .news-container .news-tile-19,
  .news-container .news-tile-21,
  .news-container .news-tile-23,
  .news-container .news-tile-25,
  .news-container .news-tile-27 {
    height: 500px;
  }
}

@media screen and (max-width: 1820px) and (min-width: 998px) {
  /*FIRST SECTION*/
  .tile-data-right-content {
    float: none;
  }
}

@media screen and (max-width: 1374px) and (min-width: 998px) {
  /*FIRST SECTION*/

  .first-table,
  .second-table {
    flex: 1 0 100%;
  }
}

@media screen and (max-width: 552px) {
  /*FIRST SECTION*/

  .data-items.trending-hashtags {
    padding-right: 30em;
  }

  .trending-hashtags {
    gap: 0px;
  }

  .hashtag-content {
    background-size: 15px 15px;
  }

  .trending-percentage.right-content {
    float: none;
  }
}

@media screen and (max-width: 484px) {
  .twitter-tweet {
    width: 20rem !important;
  }
}
